@use '../abstracts';

// RECIPE CARD
.card{
    min-width: 300px;
    max-width: 450px;
    min-height: 364px;
    max-height: 400px;
    box-shadow: 2px 0px 7px 0px #C7BEBE;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    &:hover{
        transform: scale(1.02);
    } 
    cursor: pointer;
    .card-img-top{
        width: 100%;
        height: 178px;
        object-fit: cover;
        background: #C7BEBE;
        border-radius: 5px 5px 0px 0px;
    }
    .cardBody-first{
        width: 100%;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        background: #E7E7E7;
        .card-body-first{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            padding-bottom: 20px;
            & h5.card-title{
                width: 65%;
                font-size: 24px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                
            }
            & .time-icon{
                display: flex;
                justify-content: flex-end;
                width: 35%;
                align-items: center;
                span{
                    margin-left: 5px;
                    @media only screen and (max-width : 400px){
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      }
                }
                
                
            }
        }
    }
    .cardBody-second{
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        background: #E7E7E7;
      .card-body-second{
          display: flex;
          gap: 20px;
          
          .card-text-first{
              width: 50%;
              p{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: 400;
              }    
                
          }
          .card-text-second{
              width: 50%;
              p{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 7;
                overflow: hidden;
                text-align: justify;
                font-weight: 400;
              } 
          }
      }
    }
    
}